@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your app.css */
.flex-1 {
    flex: 1 1 0%;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-hidden {
    overflow: hidden;
}